html {
  height: 100%;
  width: 100%;
}
.active {
  border: 1px solid black;
  color: black;
  font-weight: bold;
}
.selected {
  background-color: red;
}
#one {
  float: left;
  overflow-y: scroll;
}
td {
  background-color: lightgrey;
}
#two {
  width: 250px;
    float: left;
}
#three {
  width: 230px;
    float: left;
}
#four {
  width: 230px;
    float: left;
}
.row {
  clear: both;
}
